<!DOCTYPE html>
<html>
  <head>
    <title>Simplelogin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <%= notice %>
    <% end %>
  
    <% if alert %>
        <%= alert %>
    <% end %>
  
    <% if current_student %>
      <%= "Logged in as #{current_student.student_id}"%> | <%= link_to "Log Out", logout_path %>
    <% else %>
      <%= link_to "Log In", login_path %> or <%= link_to "Sign Up", new_student_path %> 
    <% end %>
    <%= yield %>
  </body>
</html>
